  <!-- Projects -->
<div class="text-white lg:p-[120px] md:py-[80px] md:px-[40px] px-[24px] py-[80px]">
  <h3 class="capitalize font-medium text-[30px] leading-[48px]">Projects</h3>
    <div class="pt-[77px]">
      <div class="flex justify-between flex-wrap md:gap-y-5 gap-y-5 pt-6">
        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px]  bg-[#13161B] hover:border-[#ffff] border-[1px] border-transparent  duration-300  overflow-hidden md:w-full sm:w-full cursor-pointer cardHover" routerLink="/roomiz">
          <div>
            <img class="w-full" src="assets/roomiz/Cover  ...png" alt="Roomiz">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">roomiz</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">UI/UX Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F] ">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figma-1698087967030-2x 2.png" alt="figmaIcon">
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 3.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 5.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/194392481/Facebook-Ui-Design-Apple-Vision-Pro" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>

        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px] bg-[#13161B] overflow-hidden hover:border-[#ffff] border-[1px] border-transparent  duration-300 md:w-full sm:w-full cursor-pointer cardHover" routerLink="/fitness">
          <div>
            <img class="w-full" src="assets/cover.vision 2.png" alt="Fitness App">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">Fitness App</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">Ui Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F]">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figmaLogo.png" alt="figmaIcon">
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/190070351/ONE-MORE-Fitness-App-UI-Design" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>

        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px]  bg-[#13161B] hover:border-[#ffff] border-[1px] border-transparent  duration-300  overflow-hidden md:w-full sm:w-full cursor-pointer cardHover" routerLink="/madrid">
          <div class="overflow-hidden">
            <img class="w-full" src="assets/real madrid/cover.png" alt="real madrid">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">real madrid</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">UI/UX Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F] ">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figmaLogo.png" alt="figmaIcon">
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/194392481/Facebook-Ui-Design-Apple-Vision-Pro" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>
        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px]  bg-[#13161B] hover:border-[#ffff] border-[1px] border-transparent  duration-300  overflow-hidden md:w-full sm:w-full cursor-pointer cardHover" routerLink="/AppleVesion">
          <div>
            <img class="w-full" src="assets/cover.vision 1.png" alt="appleVision">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">Apple Vision Pro</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">Facebook Ui Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F] ">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figmaLogo.png" alt="figmaIcon">
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[24px] h-[24.51px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 4.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/194392481/Facebook-Ui-Design-Apple-Vision-Pro" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>


      </div>
    </div>
</div>

