<div class="text-[#FEFEFE] lg:p-[120px] md:py-[80px] md:px-[40px] px-[40px] py-[80px]">
  <div class="flex items-center gap-x-3 cursor-pointer" routerLink="/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
      <path d="M28.0003 15.9995L4.66699 15.9995" stroke="#A7A7A7" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M13.3333 6.66671L4 16L13.3333 25.3334" stroke="#A7A7A7" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <h2 class="capitalize font-medium text-[30px] leading-[48px]">one more </h2>
  </div>
  <div class="mt-[80px]">
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">overview</h3>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px]">
      One More application to solve the problems facing athletes. By providing many nutritional and exercise programs. Follow-up by the best doctors and trainers.
      You can choose your type of exercise. The exercise begins with an explanatory video for each performance to know the correct performance and to know the muscles targeted by the exercise
          </p>
    <div class="mt-[48px] flex gap-x-[32px]">
      <a href="https://www.behance.net/gallery/190070351/ONE-MORE-Fitness-App-UI-Design" target="_blank">
        <button class="capitalize font-normal text-[24px] leading-[40px] flex gap-x-[32px] border-[1px] border-transparent items-center bg-[#0A84FF] hover:border-[#ffff] duration-300 rounded-[100px] py-[8px] pe-[8px] ps-[32px] justify-center">
          behance link
          <div class="w-[48px] h-[48px] p-[12px] flex justify-center items-center bg-[#22262F] rounded-[100%]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M5.63637 18.364L18.0107 5.98962" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.3638 15.5355V5.63603H8.46432" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </button>
      </a>
    </div>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">photos</h3>
    <div class="mt-[32px] flex md:flex-nowrap flex-wrap gap-y-3  items-center justify-center gap-x-[24px]">
      <div class="2xl:w-[550px] xl:w-[60%]  rounded-[16px] overflow-hidden bg-[#13161B]">
        <img src="assets/one more/WORKOUTS 12.png" alt="" class="w-full">
      </div>
      <div class="flex md:flex-col flex-row items-center justify-center gap-y-[24px] gap-x-[10px] 2xl:w-[330px] xl:w-[35%]">
        <div class="w-full rounded-[16px] bg-[#13161B] overflow-hidden 2xl:h-[240px] h-auto">
          <img src="assets/one more/HOME9.png" alt="" class="w-full ">
        </div>
        <div class="w-full rounded-[16px] bg-[#13161B] overflow-hidden 2xl:h-[266px] h-auto">
          <img src="assets/one more/LAST Register 8.png" alt="" class="w-full bg-[#13161B] ">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-normal text-[30px] leading-[48px]">Project Details</h3>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      ONE MORE is a fitness application designed to address the challenges athletes face by providing comprehensive workout and nutrition programs. The app offers personalized training plans, expert guidance from top trainers and doctors, and interactive exercise tutorials.
    </p>
  </div>
  <div class="mt-[120px]">
    <h3 class="capitalize font-normal text-[30px] leading-[48px]">Key features include:</h3>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      1- Customized Training Plans: Users can select workout programs tailored to their fitness level and goals.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      2- Video Demonstrations: Each exercise includes a detailed instructional video, showcasing proper form and highlighting the targeted muscles.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      3- Nutrition Guidance: Personalized meal plans to complement fitness goals and enhance performance.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      4- Progress Tracking: Users can monitor their improvements over time with visual progress reports.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      5- Expert Support: Direct follow-up from professional trainers and doctors for personalized advice.
    </p>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">tools i use</h3>
    <div class="flex flex-wrap justify-start items-center gap-8 mt-8">
      <div class="rounded-[8px] border-[1px] border-[#22262F] py-[16px] pe-[48px] ps-[16px] w-[285px] flex items-center gap-3">
        <img class="w-[56px] h-[56px] rounded-[8px]" src="assets/figmaLogo.png" alt="FigmaIcon">
        <div>
          <span class="font-normal text-[20px] block leading-[30px]">Figma</span>
          <span class="font-normal text-[18px] text-[#A7A7A7]">Design</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-[120px]">
      <h3 class="capitalize font-medium text-[30px] leading-[48px]">more projects</h3>

      <div class="flex justify-between flex-wrap md:gap-y-5 gap-y-5 pt-6">
        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px]  bg-[#13161B] hover:border-[#ffff] border-[1px] border-transparent  duration-300  overflow-hidden md:w-full sm:w-full cursor-pointer cardHover" routerLink="/roomiz">
          <div>
            <img class="w-full" src="assets/roomiz/Cover  ...png" alt="Roomiz">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">Apple Vision Pro</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">Facebook Ui Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F] ">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figma-1698087967030-2x 2.png" alt="figmaIcon">
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 3.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 5.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/194392481/Facebook-Ui-Design-Apple-Vision-Pro" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>


        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px]  bg-[#13161B] hover:border-[#ffff] border-[1px] border-transparent  duration-300  overflow-hidden md:w-full sm:w-full cursor-pointer cardHover" routerLink="/AppleVesion">
          <div>
            <img class="w-full" src="assets/cover.vision 1.png" alt="appleVision">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">Apple Vision Pro</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">Facebook Ui Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F] ">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figmaLogo.png" alt="figmaIcon">
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[24px] h-[24.51px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 4.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/194392481/Facebook-Ui-Design-Apple-Vision-Pro" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>
      </div>

  </div>


</div>
