<div class="text-white lg:p-[120px] md:py-[80px] md:px-[40px] px-[40px] py-[80px]">
  <div>
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">Experience</h3>

    <div class="pt-[56px]">
      <div>
        <p class="text-[#A7A7A7] text-[20px] capitalize leading-[40px]">I worked as a UI/UX Designer at Tabibna AI and Edulens Technology, designing user-friendly experiences for healthcare and educational platforms. I enhanced patient-doctor interactions, streamlined appointment scheduling, and optimized learning platforms with interactive prototypes and accessibility features.</p>
      </div>
      <div class="lg:w-full md:w-full w-full rounded-[16px] bg-[#13161B] p-[20px] md:p-[40px] mt-[80px]">
        <div class="flex justify-between">
          <div class="flex items-center pb-[40px] gap-x-[16px] w-9/12">
            <img class="md:w-[64px] sm:w-[40px]" src="assets/Ellipse 1.png" alt="Ellipse">
            <div>
              <h5 class="text-[24px] font-medium leading-[26px] tracking-[-0.5px]">Tabibna AI</h5>
              <span class="capitalize tracking-[-0.2px] leading-[26px] font-medium text-[20px] text-[#FFFFFF99]">healthcare</span>
            </div>
          </div>
          <span class="w-3/12 text-[#A7A7A7] text-[18px] capitalize leading-[40px] text-end inline-block">Nov 2024 - Present</span>
        </div>
        <div class="py-[24px]">
          <ul class="list-disc">
            <li>
              <p class="font-normal leading-[26px] text-[20px] tracking-[-0.2px] capitalize text-[#a7a7a7] ">
                Collaborated with cross-functional teams to design user-centered interfaces for an AI-powered
                healthcare mobile application, enhancing experiences for patients and doctors through personalized
                health recommendations and streamlined appointment scheduling
              </p>
            </li>
            <li>
              <p class="font-normal leading-[26px] text-[20px] tracking-[-0.2px] capitalize text-[#a7a7a7] mt-4">
                Created a comprehensive design system with light and dark modes, prototyped new features, and
                incorporated user feedback to refine the app’s interface and boost overall satisfaction.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="lg:w-full md:w-full w-full rounded-[16px] bg-[#13161B] p-[20px] md:p-[40px] mt-[80px]">
        <div class="flex justify-between">
                    <div class="flex items-center pb-[40px] gap-x-[16px] w-9/12">
                      <img class="md:w-[64px] sm:w-[40px]" src="assets/Ellipse 2.png" alt="Ellipse">
                      <div>
                        <h5 class="text-[24px] font-medium leading-[26px] tracking-[-0.5px]">Edulens Technology</h5>
                        <span class="capitalize tracking-[-0.2px] leading-[26px] font-medium text-[20px] text-[#FFFFFF99]">education</span>
                      </div>
                    </div>
                    <span class="w-3/12 text-[#A7A7A7] text-[18px] capitalize leading-[40px] text-end inline-block">April 2024 - July 2024</span>
        </div>
        <div class="py-[24px]">
          <ul class="list-disc">
            <li>
              <p class="font-normal leading-[26px] text-[20px] tracking-[-0.2px] capitalize text-[#a7a7a7] ">
                Collaborated with team leaders to design and deliver user experiences by conducting research,
                creating user flows, and crafting functional interfaces for websites and applications.
              </p>
            </li>
            <li>
              <p class="font-normal leading-[26px] text-[20px] tracking-[-0.2px] capitalize text-[#a7a7a7] mt-4">
                Designed educational platforms, including a website for various stages and a course app, by
                prototyping, utilizing variables, and implementing light/dark modes to enhance user experience.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
