<div class="text-[#FEFEFE] lg:p-[120px] md:py-[80px] md:px-[40px] px-[40px] py-[80px]">
  <div class="flex items-center gap-x-3 cursor-pointer" routerLink="/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
      <path d="M28.0003 15.9995L4.66699 15.9995" stroke="#A7A7A7" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M13.3333 6.66671L4 16L13.3333 25.3334" stroke="#A7A7A7" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <h2 class="capitalize font-medium text-[30px] leading-[48px]">Real Madrid</h2>
  </div>
  <div class="mt-[80px]">
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">overview</h3>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px]">
      This project presents a modern and engaging redesign of the Real Madrid website, enhancing the user experience for fans and visitors. The design focuses on a sleek, visually appealing interface that seamlessly integrates match updates, team news, player statistics, and exclusive content.
    </p>
    <div class="mt-[48px] flex gap-x-[32px]">
      <a href="https://www.behance.net/gallery/196010065/Real-Madrid-Website" target="_blank">
        <button class="capitalize font-normal text-[24px] leading-[40px] flex gap-x-[32px] border-[1px] border-transparent items-center bg-[#0A84FF] hover:border-[#ffff] duration-300 rounded-[100px] py-[8px] pe-[8px] ps-[32px] justify-center">
          behance link
          <div class="w-[48px] h-[48px] p-[12px] flex justify-center items-center bg-[#22262F] rounded-[100%]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M5.63637 18.364L18.0107 5.98962" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.3638 15.5355V5.63603H8.46432" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </button>
      </a>
    </div>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">photos</h3>
    <div class="mt-[32px] flex md:flex-nowrap flex-wrap gap-y-3  items-center justify-center gap-x-[24px]">
      <div class="2xl:w-[550px] xl:w-[60%]  rounded-[16px] h-[500px] overflow-hidden">
        <img src="assets/real madrid/Home Page.png" alt="" class="w-full">
      </div>
      <div class="flex md:flex-col flex-row items-center justify-center gap-y-[24px] gap-x-[10px] 2xl:w-[330px] xl:w-[35%]">
        <div class="w-full rounded-[16px] overflow-hidden">
          <img src="assets/real madrid/buy tickets.png" alt="" class="w-full">
        </div>
        <div class="w-full rounded-[16px] overflow-hidden">
          <img src="assets/real madrid/match.png" alt="" class="w-full">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-normal text-[30px] leading-[48px]">Project Details</h3>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      The Real Madrid Website Redesign project aims to elevate the digital experience for fans by creating a visually immersive and user-friendly platform. The new design seamlessly integrates essential features, offering an intuitive and engaging interface that reflects the club’s prestige and rich history.

    </p>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-normal text-[30px] leading-[48px]">Key features include:</h3>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      1- Modern UI/UX: A sleek and dynamic interface designed for easy navigation and enhanced engagement.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      2- Real-Time Match Updates: Live scores, upcoming fixtures, and in-depth match analysis.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      3- Exclusive Content: Access to behind-the-scenes footage, player interviews, and historical moments.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      4- Enhanced Fan Interaction: Interactive sections for polls, fan discussions, and community engagement.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      5- Seamless Media Integration: High-quality images and videos, ensuring an immersive experience.
    </p>
    <p class="text-[20px] font-normal leading-[40px] text-[#A7A7A7] mt-[40px] capitalize">
      6- Responsive Design: Optimized for all devices, providing a consistent experience across desktops, tablets, and mobile phones.
    </p>
  </div>

  <div class="mt-[120px]">
    <h3 class="capitalize font-medium text-[30px] leading-[48px]">tools i use</h3>
    <div class="flex flex-wrap justify-start items-center gap-8 mt-8">
      <div class="rounded-[8px] border-[1px] border-[#22262F] py-[16px] pe-[48px] ps-[16px] w-[285px] flex items-center gap-3">
        <img class="w-[56px] h-[56px] rounded-[8px]" src="assets/figmaLogo.png" alt="FigmaIcon">
        <div>
          <span class="font-normal text-[20px] block leading-[30px]">Figma</span>
          <span class="font-normal text-[18px] text-[#A7A7A7]">Design</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-[120px]">
      <h3 class="capitalize font-medium text-[30px] leading-[48px]">more projects</h3>

      <div class="flex justify-between flex-wrap md:gap-y-5 gap-y-5 pt-6">
        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px]  bg-[#13161B] hover:border-[#ffff] border-[1px] border-transparent  duration-300  overflow-hidden md:w-full sm:w-full cursor-pointer cardHover" routerLink="/roomiz">
          <div>
            <img class="w-full" src="assets/roomiz/Cover  ...png" alt="Roomiz">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">Apple Vision Pro</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">Facebook Ui Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F] ">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figma-1698087967030-2x 2.png" alt="figmaIcon">
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 3.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4.71px]" src="assets/figma-1698087967030-2x 5.png" alt="SplineIcon">
                    <!-- تعديل -->
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/194392481/Facebook-Ui-Design-Apple-Vision-Pro" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>


        <div class="2xl:w-[440px] xl:w-[380px] rounded-[34px] bg-[#13161B] overflow-hidden hover:border-[#ffff] border-[1px] border-transparent  duration-300 md:w-full sm:w-full cursor-pointer cardHover" routerLink="/fitness">
          <div>
            <img class="w-full" src="assets/cover.vision 2.png" alt="Fitness App">
          </div>
          <div class="p-5">
              <div class="flex justify-between items-center border-b-[1px] border-b-[#a0a0a04f] pb-5">
                  <div>
                      <h4 class="capitalize text-[20px] font-normal leading-[28px] tracking-[0.35px] text-[#FEFEFE]">Fitness App</h4>
                      <span class="capitalize text-[12px] font-normal leading-[16px] text-[#A7A7A7]">Ui Design</span>
                  </div>
                  <button class="rounded-[24px] px-[27px] py-[12px] w-[91px] h-[46px] capitalize font-normal text-[17px] tracking-[-0.41px] leading-[17px] text-[#FFFFFF] bg-[#22262F]">
                    view
                  </button>
              </div>
              <div class="flex justify-between items-center mt-8">
                <div class="flex items-center gap-2">
                  <span class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">tools</span>
                  <a href="#" class="overflow-hidden">
                    <img class="w-[28px] h-[28px] rounded-[4px]" src="assets/figmaLogo.png" alt="figmaIcon">
                  </a>
                </div>
                <a href="https://www.behance.net/gallery/190070351/ONE-MORE-Fitness-App-UI-Design" target="_blank" class="text-[11px] text-[#EBEBF599] font-normal leading-[13px] tracking-[0.6px]">
                  behance >
                </a>
              </div>
          </div>
        </div>
      </div>

  </div>


</div>
